html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  padding: 0 10px;
  margin: 10px auto;
  max-width: 500px;
  color: #222;
  line-height: 1.6;
  font-size: 17px;
}

a,
a:visited {
  color: green;
  text-decoration: none;
}

.bold,
div label {
  font-weight: bold;
}

.red {
  color: red;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #ddd;
  }
}
