:root {
  --green: #28a745;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --secondary: #6c757d;
  --success: #28a745;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
nav {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
b {
  font-weight: bolder;
}
img {
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
}
h1,
h2,
h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 576px) {
  .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: '';
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}
.carousel-item.active {
  display: block;
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-next,
  .carousel-control-prev {
    transition: none;
  }
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-next {
  right: 0;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50%/100% 100%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}
.bg-dark {
  background-color: #343a40 !important;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.d-none {
  display: none !important;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
.h-100 {
  height: 100% !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.py-3 {
  padding-top: 1rem !important;
}
.py-3 {
  padding-bottom: 1rem !important;
}
.text-success {
  color: #28a745 !important;
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
  body {
    min-width: 992px !important;
  }
  .navbar {
    display: none;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
} /*! CSS Used from: https://okj.harka.com/paprendszer/style.css */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
body {
  margin: 5px auto;
  max-width: 900px;
}
h1 {
  position: relative;
  top: -75px;
  left: -30px;
  color: #1c2435;
  padding: 15px 35px;
  background-color: #fff;
  width: 300px;
  border-radius: 35px;
  margin-bottom: -75px;
}
p {
  text-indent: 25px;
}
h2 {
  padding: 75px 5px 20px;
  color: #1c2435;
  font-weight: 700;
}
h1,
h2,
h4 {
  letter-spacing: 2px;
}
a,
a:visited,
ul {
  color: green;
  text-decoration: none;
}
.carousel-inner img {
  width: 100%;
}
th {
  text-align: center;
}
td {
  font-style: italic;
  font-size: 90%;
}
td:first-child {
  text-align: right;
  font-weight: lighter;
  font-style: normal;
}
.firstTable {
  margin-top: 75px;
}
thead {
  background-color: rgba(28, 36, 53, 0.4);
}
tbody {
  background-color: rgba(28, 36, 53, 0.1);
}
.middle tr td {
  text-align: center;
}
.media p {
  font-size: 90%;
  text-align: justify;
  margin-top: 20px;
}
.orderImage {
  width: 100px;
  vertical-align: bottom;
  font-style: italic;
}
.media {
  background-color: rgba(28, 36, 53, 0.1);
  border: 3px solid rgba(28, 36, 53, 0.4);
  border-radius: 45px 0;
}
.priestImage {
  text-align: center;
}
.priestImage img {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(28, 36, 53, 0.1);
  border: 3px solid rgba(28, 36, 53, 0.2);
  border-radius: 10px;
}
.imageLink {
  cursor: pointer;
}
#conventImage {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.source {
  margin: 15px 75px 0;
  padding-top: 5px;
  text-align: center;
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 5px auto;
  max-width: 900px;
}

h1 {
  position: relative;
  top: -75px;
  left: -30px;
  color: rgb(28, 36, 53);
  padding: 15px 35px;
  background-color: white;
  width: 300px;
  border-radius: 35px;
  margin-bottom: -75px;
}

p {
  text-indent: 25px;
}

h2 {
  padding: 75px 5px 20px;
  color: rgb(28, 36, 53);
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
}

a,
a:visited,
ul {
  color: green;
  text-decoration: none;
}

.carousel-inner img {
  width: 100%;
}

th {
  text-align: center;
}
td {
  font-style: italic;
  font-size: 90%;
}
td:first-child {
  text-align: right;
  font-weight: lighter;
  font-style: normal;
}

.firstTable {
  margin-top: 75px;
}

thead {
  background-color: rgba(28, 36, 53, 0.4);
}

tbody {
  background-color: rgba(28, 36, 53, 0.1);
}

.middle tr td {
  text-align: center;
}

.media p {
  font-size: 90%;
  text-align: justify;
  margin-top: 20px;
}

.orderImage {
  width: 100px;
  vertical-align: bottom;
  /* cursor: pointer; */
  font-style: italic;
}

small {
  white-space: pre;
}

.media {
  background-color: rgba(28, 36, 53, 0.1);
  border: 3px solid rgba(28, 36, 53, 0.4);
  border-radius: 45px 0px;
}

.priestImage {
  text-align: center;
}

.priestImage img {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(28, 36, 53, 0.1);
  border: 3px solid rgba(28, 36, 53, 0.2);
  border-radius: 10px;
}

.imageLink {
  cursor: pointer;
}

#conventImage {
  width: 80%;
  height: 80%;
  margin: 0px auto;
}

.source {
  margin: 15px 75px 0px;
  padding-top: 5px;
  text-align: center;
}
