body {
    background-color: pink;
    margin: 10px auto;
    max-width: 650px;
}

h1, h2, h3, h4, b {
    color: green;
}

h1, h2 {
    text-align: center;
}

.righty {
    text-align: right;
    color: purple;
    font-weight: bold;
}