header {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 50%;
  background-image: url('img/covid.jpg');
  background-position: center;
  text-align: center;
  font-size: 130%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h2 {
  padding-top: 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration-line: underline overline;
}

header h3 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  text-decoration-line: underline overline;
}

header a,
header a:link,
header a:visited,
header a:hover {
  color: white;
  text-decoration: none;
}

.stats {
  background-color: #c5c599;
  align-content: center;
}

a,
a:link,
a:visited,
a:hover {
  font-weight: bold;
  color: darkblue;
  text-decoration: none;
}

.dataButton {
  margin: 20px auto;
}

.subheading {
  color: darkblue;
  font-size: 200%;
  margin-bottom: 0;
  padding-bottom: 0;
}

main {
  max-width: 1000px;
  padding: 0 10px;
  margin: 10px auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

.img-wrapper {
  border: 1px solid lightgray;
}

main img {
  border: 5px solid white;
  border-radius: 5px;
}

section {
  border-radius: 5px;
}

.section1 div:first-child {
  max-width: 650px;
  margin-right: 2rem;
}

.section2 div:first-child,
.section2 div:nth-child(2),
.section3 div:first-child,
.section3 div:nth-child(2),
.section4 div:first-child,
.section4 div:nth-child(2) {
  max-width: 450px;
  margin: 1.5rem;
}

.section2 img,
.section4 img {
  max-width: 100%;
}

.section3-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section4 {
  background-color: #18a4b4;
}

.section-big {
  margin-top: 2rem;
  padding: 0 1rem 1rem 1rem;
}

ul {
  padding: 0;
  -webkit-padding-start: 0;
  background-color: lightgray;
  color: black;
}

li {
  list-style-type: none;
  background-color: white;
  margin-left: -2rem;
  padding: 1rem;
  border: 1px solid lightgray;
}

li:nth-of-type(4n) {
  color: black;
  background-color: #087cfc;
  font-weight: bold;
}

.source {
  text-align: center;
  margin: 2rem;
}

a {
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}

.top-line {
  border-top: 1px solid white;
}

table {
  margin: 1rem auto;
  border-top: 1px solid lightgray;
  width: 700px;
  max-width: 100%;
}

td {
  padding: 1rem;
}

table tr:nth-child(even) {
  background-color: lightgray;
}

.centered-text {
  text-align: center;
}

body img {
  max-width: 100%;
}

hr {
  text-align: center;
  max-width: 300px;
}
